/* Custom Styles */

/* Makes sure the footer is at the bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-bottom: 2rem;
}

/* Custom styles for DataTables */
.dt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.dt-header .dt-search {
    margin-left: auto;
}

.dt-header .dt-search input {
    width: 250px; /* Make search input thinner */
    margin-left: 1rem;
}
